.app {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    width: 100%;
    margin: 5% 0%;
}

.Container {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 80%;
    justify-content: space-between;
    align-content: start;
    gap: 0.3%;
    overflow-x: auto;
}

input {
    font-size: 30px;
    caret-color: transparent;
    background-color: black;
    color: white;
    border: 0.5px;
    height: 80px;
    width: 99%;
    position: relative;
    z-index: 2;
}

.Container span {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.3);
    z-index: 1;
} 