@import url('https://fonts.googleapis.com/css2?family=Knewave&family=SUSE:wght@100..800&display=swap');

body {
  margin: 0;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./resources/theater.jpg);
  background-color: black;
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  color:azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
